__pycache__
.cache
.DS_Store
.env
.history
.idea
.ipynb_checkpoints
.next
.Python
.tox
*.code-workspace
*.egg-info
*.pyc
*.pyd
*.pyo
build
dist
node_modules
npm-debug.log
pip-delete-this-directory.txt
pip-log.txt
temp
tmp
TODO
venv
yarn-error.log
.vscode/launch.json
