__pycache__
.cache
.DS_Store
config/.*
.history
.idea
.ipynb_checkpoints
.next
.Python
.tox
.venv
*.code-workspace
*.egg-info
*.pyc
*.pyd
*.pyo
dist
node_modules
npm-debug.log
pip-delete-this-directory.txt
pip-log.txt
temp
tmp
TODO
venv
yarn-error.log
.vscode/launch.json
.vscode/.ropeproject
*/.vscode/launch.json
*/.vscode/.ropeproject
.pytest_cache
beneath-models/.venv
clients/**/build
/public
examples/**/yarn.lock