aiogrpc==1.7
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beneath==1.2.1
certifi==2020.6.20
chardet==3.0.4
Cython==0.29.15
DateTime==4.3
fastavro==0.21.24
grpcio==1.27.2
idna==2.10
msgpack==1.0.0
multidict==4.7.6
numpy==1.19.1
pandas==1.0.1
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
six==1.14.0
typing-extensions==3.7.4.2
urllib3==1.25.10
yarl==1.5.0
zope.interface==5.1.0