aiogrpc==1.7
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beneath==1.1.5
chardet==3.0.4
Cython==0.29.15
fastavro==0.21.24
grpcio==1.27.2
idna==2.9
joblib==0.15.1
multidict==4.7.6
numpy==1.18.5
pandas==1.0.1
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.4.1
six==1.14.0
sklearn==0.0
structlog==20.1.0
threadpoolctl==2.1.0
yarl==1.4.2
