aiogrpc==1.7
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beneath==1.2.2
chardet==3.0.4
Cython==0.29.15
fastavro==0.21.24
grpcio==1.27.2
idna==2.10
joblib==0.16.0
msgpack==1.0.0
multidict==4.7.6
numpy==1.19.1
pandas==1.0.1
protobuf==3.11.3
python-dateutil==2.8.1
pytz==2020.1
scikit-learn==0.23.1
scipy==1.5.2
six==1.14.0
sklearn==0.0
threadpoolctl==2.1.0
typing-extensions==3.7.4.2
yarl==1.5.0